{% extends 'Main/base.html' %}
{% block content %}

<h3> Work List</h3>

{% if not page_obj %}
    <p>No work is added yet, please add work <a href="{% url 'main:add_work' %}">here</a></p>
{% endif %}
    <div class="list-group">
        {% for work in page_obj %}
            <a href="{% url 'main:work_update' work.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    {% if work.is_completed %}
                        <h5 class="mb-1"><s>{{ work.title }}</s></h5>
                    {% else %}
                        <h5 class="mb-1">{{ work.title }}</h5>
                    {% endif %}
                    <small>{{ work.date_created }}</small>
                </div>
                <p class="mb-1" style="white-space: pre-line;">{{ work.description }}</p>
                {% if work.is_completed %}
                    <span class="badge bg-success">Completed</span>
                {% else %}
                    <span class="badge bg-warning text-dark">Not Completed</span>
                    {% if work.are_you_late %}
                        <span class="badge bg-warning text-dark">{{ work.complete_till }}</span>
                        <span class="badge bg-danger">Not Completed On Time</span>
                    {% else %}
                        <span class="badge bg-warning text-dark">{{ work.complete_till }}</span>
                    {% endif %}
                {% endif %}
                <span class="badge bg-info">{{work.priority}}</span>
            </a>
        {% endfor %}
    </div>

    <br>
    {% if page_obj %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">First</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}        
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Previous">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Last</span>
                    </a>
                  </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}    
{% endblock %}